body{
  background: linear-gradient(white 0%, grey 100%);
}
nav a{
  color: rgb(255, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
}
nav a:hover{
  color: blue;
}
img{
	max-width: 50%;
	height: auto;
}
header section.cssfixer {
    display: flex;
    justify-content: space-between;
}
div{
    width: 50%;
}
main{
    margin-top: -240px;
}
aside{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: end;
}
@media screen and (max-width: 705px) {
  img{
    display: none;
  }
}
th{
  text-align: center;
}
footer a:hover{
  color: red;
}